# dependencies
node_modules

# next.js
.next
out

# env files
.env
.env.*
*.env

# build outputs
dist
build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.pem

# testing
coverage

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts