NODE_ENV=development
PORT=5000
CLIENT_URL=http://localhost:3000


DATABASE=
DATABASE_USERNAME=
DATABASE_PASSWORD=


JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=

# prod
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

B2_APPLICATION_KEY_ID=
B2_APPLICATION_KEY=
B2_BUCKET_NAME=
B2_ENDPOINT=
B2_REGION=


# prod
EMAIL_FROM=

SENDGRID_USERNAME=
SENDGRID_PASSWORD=

# dev 
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
